ppgs_alignments/
utils/mfcc_zhao
utils/PPGs
*.npy
*.txt
*.wav
*.csv
ckpt_model_dir/
log_dir/
vc_pipeline/
LibriSpeech_ckpt_model_zhaoxt_dir/
LibriSpeech/wavs/
DataBaker_Bilingual_CN/
DataBaker_Bilingual_EN/
DataBaker_Bilingual_MIX/
LJSpeech-1.1/